/* main.css */

/* Customização da página */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
}

.container {
  flex: 1;
  margin-top: 20px;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:focus {
  outline: none;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

/* Adicionando espaçamento entre a tabela de resultados e o rodapé */
#result {
  margin-bottom: 50px; /* Ajuste conforme necessário */
}